.clasecss {
    background-color: #ff8800;
    font-weight: bold; }

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        background: linear-gradient(to bottom, #6666ff 0%, #ff66ff 100%)
        
        
    }
    
    header {
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
   
.align-items-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tstriped{
    border: 1px solid rgb(105, 103, 103);
            border-collapse: collapse;
            padding: 5px;
            tr:nth-child(odd) ;
            background-color: #8F9AA5;
}



/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px gainsboro;
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(18, 0, 110);
}

nav li:hover {
    background-color:  rgb(225, 245, 253);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}



    .table.horario{
        font-size:medium;
        width: 70%;
        text-align: center;
        background-color: aqua;
    }

    .sisi { /*shift windows c*/
        background-color: #b4b464;
    }

    .lmgs {
        background-color: #f0f0c8;
    }

    .ing {
        background-color: #ffa264;
    }
    .bdd {
        background-color: #ffc8c8;
    }
    .prog {
        background-color: #bc7878;
    }
    .ende {
        background-color: #28c8c8;
    }


    .fol {
        background-color: #f0f0c8;
    }